body {
    display: flex;
    flex-direction: column;

    position: absolute;
    inset: 0;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@import "scss/eden-extras/global-navigation";
@import "scss/eden-extras/sub-navigation";
